body {
    margin: 0;
    box-sizing: border-box;
    width: 37.5rem;
    height: 72.5rem;
    margin: auto;
    font-family: "Smythe", system-ui;
    border: 1px solid red;
} 

header {
    position: relative;
    height: 10rem;
}

header .text-block {
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #fff;
}

.text-block h4 {
    font-size: 2.4rem;
    margin-bottom: 0;
}

.text-block p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Menu section */
.item {
    display: flex;
    margin: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #D2D2D2;
}

.item-emoji {
    font-size: 4.375rem;
}

.item-details {
    padding-left: 1.938rem;
    flex-grow: 2;
}

.item-add-btn {
    align-self: flex-start;
    border-radius: 50%;
    background-color: #fff;
    font-family: Inter, sans-serif;
    font-size: 2rem;
    padding: 0 5px;
    color: #3c3c3c;
    border: 1px solid #dedede;
    cursor: pointer;
    
}

.item-name {
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.item-ingredients {
    font-size: 1.25rem;
    color: #8b8b8b;
    margin-top: 0;
}

.item-price {
    font-size: 1.25rem;
    font-weight: 400;
}

/* Order section */

.order-title {
    font-size: 1.75rem;
    text-align: center;
}

.order-details {
    display: flex;
    margin: 0 3rem;
    justify-content: space-between;
    align-items:center;
}

.order-item-name {
    font-size: 1.75rem;
    margin: 0;
}

.order-item-price {
    font-size: 1.75rem;
}

.item-remove-btn {
   border: none;
   background-color: #fff;
   margin-right: auto;
   color: #BBBBBB;
   padding-left: 1rem;
   cursor: pointer;
}

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    border-top: 1px solid black;
}


.order-total-label, 
.order-total h3,
.order-total p { 
    font-size: 1.75rem;
}

.complete-order-btn {
    background-color: #16db99;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    border: none;
    padding: 1rem 12rem;
    margin: 2.5rem;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 542px;
    width: 524px;
    background-color: #fff;
    box-shadow: 0px 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.modal-header h3 {
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    font-size: 1.25rem;
    margin: 1rem;
    padding: 1rem;
    width: 450px;
}

.pay-btn {
    margin: 1rem;
    padding: 1.5rem 12rem;
    background-color: #16db99;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    width: 480px;
}